.title{
	font-size-adjust: 1;
	color: white; 
	margin-left: 10px;
}
input[placeholder="Enter you username"]{
	float: left;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 10px;
	width: 60%;
	margin-left: 10px;
}